[submodule "totem-tweet-getter"]
	path = totem-tweet-getter
	url = https://github.com/BinaryBrain/totem-tweet-getter.git
[submodule "totem-mpd-current-song"]
	path = totem-mpd-current-song
	url = https://github.com/BinaryBrain/totem-mpd-current-song.git
