#screens {
	position: relative;
	border: 2px solid black;
	height: 500px;

	.screen {
		position: relative;
		float: left;
		width: 25%;
		padding: 10px;
		height: 100%;

		&:not(:last-child) {
			border-right: 2px solid black;
		}
	}

	&:after {
		content: " ";
		clear: both;
		display: block;
	}

	.tags {
		overflow-y: auto;
		
		.tag {
			position: relative;
			width: 100%;
			padding-top: 5px;

			.name {
				float: left;
			}

			.remove {
				float: right;
			}

			&:after {
				content: " ";
				clear: both;
				display: block;
			}
		}
	}

	.bottom {
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
	}
}
